<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/day.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->

</head>
<body>

<div id="bg-col-4-2">

    <section class="pricing m-5 vertical-center" id="pricing-margin" >
        <div class="container" >
            <div class="row" >
                <!-- Free Tier -->
                <div class="col-lg-2" >
                    <div class="card  margin-box">
                        <div class="card-body" id="bg-cosl-4">

                            <h5 class="card-title text-muted text-uppercase text-center" id="today1"></h5>
                            <h6 class="card-price text-center" id="today2"><span class="period"></span></h6>
                            <hr>
                            <form method="post">
                            <a  class="btn btn-block btn-primary text-uppercase" onclick="day1()" type="submit" methods="post">kies</a>
                                <input type="text" id="a" hidden>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-2">
                    <div class="card  margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag1">7 Mei</h5>
                            <h6 class="card-price text-center" id="weekdag2"><span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day2()">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2  margin-box">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag3"></h5>
                            <h6 class="card-price text-center" id="weekdag4"><span class="period"></span></h6>
                            <hr>

                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day3()">KIes</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag5"></h5>
                            <h6 class="card-price text-center" id="weekdag6"><span class="period"></span></h6>
                            <hr>

                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day4()">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag7"></h5>
                            <h6 class="card-price text-center" id="weekdag8"><span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day5()">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag9"></h5>
                            <h6 class="card-price text-center" id="weekdag10"><span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day6()">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center" id="weekdag11"></h5>
                            <h6 class="card-price text-center" id="weekdag12"><span class="period" onclick="day7()"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase" onclick="day7()">Kies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>


    var date = new Date();
    var dag = date.getDate();
    var maand = date.getMonth()
    var week = date.getDay()
    var year = date.getFullYear()

    // var datum = dag + 1 + "-" + maand + "-" + year
    var datum = year + "-" + maand + "-" + (dag + 1)

    var dagen = ["Zondag", "maandag", "Dinsdag", "Woesndag", "Donderdag", "vrijdag", "zaterdag", "zondag", "maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag", "zondag"]
    var maanden = ["jan", "feb", "mar", "apr", "mei", "jun", "jul", "aug", "sep", "okt", "nov", "dec"]

    console.log(week)

    document.getElementById("a").value = year + "-" + (maand + 1) + "-" + (dag + 1)

    document.getElementById("today1").innerHTML = dag + " " + maanden[maand];
    document.getElementById("today2").innerHTML = dagen[week];

    document.getElementById("weekdag1").innerHTML = dag + 1 + " " + maanden[maand]
    document.getElementById("weekdag2").innerHTML = dagen[week + 1]

    document.getElementById("weekdag3").innerHTML = dag + 2 + " " + maanden[maand]
    document.getElementById("weekdag4").innerHTML = dagen[week + 2]

    document.getElementById("weekdag5").innerHTML = dag + 3 + " " + maanden[maand]
    document.getElementById("weekdag6").innerHTML = dagen[week + 3]

    document.getElementById("weekdag7").innerHTML = dag + 4 + " " + maanden[maand]
    document.getElementById("weekdag8").innerHTML = dagen[week + 4]

    document.getElementById("weekdag9").innerHTML = dag + 5 + " " + maanden[maand]
    document.getElementById("weekdag10").innerHTML = dagen[week + 5]

    document.getElementById("weekdag11").innerHTML = dag + 6 + " " + maanden[maand]
    document.getElementById("weekdag12").innerHTML = dagen[week + 6]

    function day1() {
        datum = year + "-" + maand + "-" + dag
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week)
    }
    function day2() {

        datum = year + "-" + maand + "-" + (dag + 1)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 1)
    }
    function day3() {
        datum = year + "-" + maand + "-" + (dag + 2)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 2)
    }
    function day4() {
        datum = year + "-" + maand + "-" + (dag + 3)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 3)
    }
    function day5() {
        datum = year + "-" + maand + "-" + (dag + 4)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 4)
    }
    function day6() {
        datum = year + "-" + maand + "-" + (dag + 5)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 5)
    }
    function day7() {
        datum = year + "-" + maand + "-" + (dag + 6)
        localStorage.setItem("date", datum)
        localStorage.setItem("dag", week + 6)
    }









</script>

<script type="text/javascript">
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function(d, m){
        var kommunicateSettings = {"appId":"2aa45cec699ba77ad70fb70b80de6f881","popupWidget":true,"conversationTitle":"Timo Wielink","automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://api.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
</body>
</html>