<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/day.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div id="bg-col-4-2">

    <section class="pricing m-5 vertical-center" id="pricing-margin" >
        <div class="container" >
            <div class="row" >
                <!-- Free Tier -->
                <div class="col-lg-2" >
                    <div class="card  margin-box">
                        <div class="card-body" id="bg-cosl-4">
                            <h5 class="card-title text-muted text-uppercase text-center">6 mei</h5>
                            <h6 class="card-price text-center">Maandag<span class="period"></span></h6>
                            <hr>

                            <a href="/res" class="btn btn-block btn-primary text-uppercase">kies</a>
                        </div>
                    </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-2">
                    <div class="card  margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">7 Mei</h5>
                            <h6 class="card-price text-center">Dinsdag<span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2  margin-box">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">8 Mei</h5>
                            <h6 class="card-price text-center">Woensdag<span class="period"></span></h6>
                            <hr>

                            <a href="/res" class="btn btn-block btn-primary text-uppercase">KIes</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">9 Mei</h5>
                            <h6 class="card-price text-center">Donderdag<span class="period"></span></h6>
                            <hr>

                            <a href="/res" class="btn btn-block btn-primary text-uppercase">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">10 Mei</h5>
                            <h6 class="card-price text-center">Vrijdag<span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">11 Mei</h5>
                            <h6 class="card-price text-center">Zaterdag<span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase">Kies</a>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-2">
                    <div class="card margin-box">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">12 Mei</h5>
                            <h6 class="card-price text-center">Zondag<span class="period"></span></h6>
                            <hr>
                            <a href="/res" class="btn btn-block btn-primary text-uppercase">Kies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






<script type="text/javascript">
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function(d, m){
        var kommunicateSettings = {"appId":"2aa45cec699ba77ad70fb70b80de6f881","popupWidget":true,"conversationTitle":"Timo Wielink","automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://api.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
</body>
</html>