<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <form action="../../public/insertScript.php" method="post">
            <label> testPrimary :</label>
            <input type="text" name="testPrimary" id="testPrimary" required="required" placeholder="Please Enter Name"/><br /><br />
            <label>test1 :</label>
            <input type="text" name="test1" id="test1" required="required" placeholder="john123@gmail.com"/><br/><br />
            <label> test2 :</label>
            <input type="text" name="test2" id="test2" required="required" placeholder="Please Enter Your City"/><br/><br />
            <label> test3 :</label>
            <input type="text" name="test3" id="test3" required="required" placeholder="Please Enter Your City"/><br/><br />
            <input type="submit" value=" Submit " name="submit"/><br />

        </form>


        <!--<br>-->
        <!--<h1>Login</h1>-->
        <!--<form id="loginForm" method="post">-->
            <!--<label>Enter your name</label><br>-->
            <!--<input type="text" class="data-input" name="firstName" placeholder="Enter first name..." required><br>-->
            <!--<input type="text" class="data-input" name="lastName" placeholder="Enter last name..." required><br>-->
            <!--<input type="text" class="data-input" name="licensePlate" placeholder="Enter license plate..." required><br>-->
            <!--<input type="submit" value="Login">-->
        <!--</form>-->

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>