<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chargy</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/CSS/style.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->

<% include ../partials/nav.ejs %>

<!-- Header -->
<header class="masthead">
    <div class="container ">
        <div class="row">

            <div class=" masthead-text col-12 justify-content-center text-center">
                <!--<img id="logo-home" src="/public/Images/logo2.png" alt="Logo" class="img-fluid">-->
                <h2 class="extra-weight">Reserveer en vind laadpalen in de buurt van de </h2>

                <h2><span class="text_1">Amsterdam Arena</span><span class="text_2">Bullewijk</span><span class="text_3">Bijlmermeer</span></h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Registreer end start met reserveren!</a>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3 class="text-white mb-4 extra-weight">Reserveer een laadpaal voor jouw auto!</h3>
                <p class="text-white-50"> De toepassing werkt bij de laadstations hetzelfde als bij de deelauto’s, -scooters en -fietsen. Gebruikers met een account zien in een app waar laadstations staan of hangen en wanneer deze beschikbaar zijn. Via de app reserveert de gebruiker een laadstation op het gewenste tijdstip en voor de gewenste duur. Dat kan zowel ter plaatse als van tevoren, en een laadplek die gereserveerd is, is niet beschikbaar voor een ander. De laadsessie is vervolgens via de app te starten en te stoppen en wordt na afloop automatisch gefactureerd.
            </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->


        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="/public/Images/parking2.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white extra-weight">Chargy Laadpas</h4>
                            <p class="mb-0 text-white-50">Met de laadpas van Chargy op zak heb je toegang tot een van de grootste laadpaalnetwerken in Europa met meer dan 180.000 publieke laadpunten. Bestel nu jouw laadpas! Happy charging!</p>
                            <button type="submit" class="btn btn-primary ">Bestel onze laadpas</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-custom" src="/public/Images/parking.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white extra-weight">Laadpaalbeheer</h4>
                            <p class="mb-0 text-white-50">Wil je meer halen uit jouw laadstation? Dat kan met het laadplatform van Chargy. Zo krijg je een overzicht van alle activiteiten van jouw laadpaal, kan je werkgever jouw thuislaadsessies vergoeden of zet je jouw laadpaal beschikbaar voor publieke laadsessies. Het Chagry-platform biedt een oplossing op maat!</p>
                            <button type="submit" class="btn btn-primary ">Ontdek meer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Schrijf je in voor updates.</h2>

                <form class="form-inline d-flex">
                    <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail"
                           placeholder="Uw Email...">
                    <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
    <!--<section class="contact-section bg-black">-->
    <!--    <div class="container">-->

    <!--        <div class="row">-->

    <!--            <div class="col-md-4 mb-3 mb-md-0">-->
    <!--                <div class="card py-4 h-100">-->
    <!--                    <div class="card-body text-center">-->
    <!--                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>-->
    <!--                        <h4 class="text-uppercase m-0">Adres</h4>-->
    <!--                        <hr class="my-4">-->
    <!--                        <div class="small text-black-50">Wibautstraat 3, amsterdam</div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="col-md-4 mb-3 mb-md-0">-->
    <!--                <div class="card py-4 h-100">-->
    <!--                    <div class="card-body text-center">-->
    <!--                        <i class="fas fa-envelope text-primary mb-2"></i>-->
    <!--                        <h4 class="text-uppercase m-0">Email</h4>-->
    <!--                        <hr class="my-4">-->
    <!--                        <div class="small text-black-50">-->
    <!--                            <a href="#">Info@Chargy.com</a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="col-md-4 mb-3 mb-md-0">-->
    <!--                <div class="card py-4 h-100">-->
    <!--                    <div class="card-body text-center">-->
    <!--                        <i class="fas fa-mobile-alt text-primary mb-2"></i>-->
    <!--                        <h4 class="text-uppercase m-0">telefoon</h4>-->
    <!--                        <hr class="my-4">-->
    <!--                        <div class="small text-black-50">+320919199</div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->


    <!--    </div>-->
    <!--</section>-->

<!-- Footer -->
<footer class="bg-black small ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-white">
                <p>Chargy is intern ontwikkleingsonderzoek uitgevoerd door de Hogeschool Van Amsterdam
                in samenwekring met de Gemeente Van Amsterdan en Mobiflow.</p>
                <p>Copyright &copy; Chargy 2022</p>
            </div>
            <div class="col-sm-4 offset-1 logo-footer text-white">
                <img src="/public/Images/Logo-Gemeente-Amsterdam.png" alt="">
            </div>
            <div class="col-sm-3  footer-list text-white">

                <ul>
                    <li><a href="/register">Registreer</a></li>
                    <li><a href="/register">Login</a></li>
                    <li>About</li>
                </ul>


            </div>

        </div>
<!--        Copyright &copy; Chargy 2022-->
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/public/bootstrap//js/bootstrap.bundle.js"></script>

<!-- Plugin JavaScript -->
<script src="/node_modules/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/public/Javascript/index.js"></script>

</body>

</html>
