<!DOCTYPE html>
<html lang="en">
<head>
    <title>myRes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->

    <script>

    </script>

</head>
<body>


<div class="limiter">
    <div class="container-login100" style="background-image: url('../../public/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post" name="Registersubmi" id="Registersubmi">
					<span class="login100-form-title p-b-49">
					<img src="../../public/Images/logo2.png" alt="logo" id="logo-register">
					</span>

                <title id="title" name="title"></title>

                <h6 id="a" name="a" value="">SHOW RESULT HERE</h6>
                <p id="pl"><%= name%></p>



                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" name="Registersubmi" id="Registersubmi" type="submit">
                            skiitttt3000
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>



</script>


</body>
</html>