<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../public/Javascript/require.js"></script>
    <script type="text/javascript" src="../../public/Javascript/registry.js"></script>

</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../public/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-49">
					<img src="../../public/Images/logo2.png" alt="logo" id="logo-register">
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Gebruikersnaam</span>
                    <input class="input100" type="text" name="username" placeholder="Type uw gebruikersnaam">

                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Wachtwoord</span>
                    <input class="input100" type="password" name="pass" placeholder="Type uw wachtwoord">

                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="pass" placeholder="Jhondoe@company.com">

                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Kenteken</span>
                    <input class="input100" type="text" name="pass" placeholder="123 - AB - CD">

                </div>



                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Registreer
                        </button>
                    </div>
                </div>


                <a href="/login" class="txt2">
                    Login
                </a>
            </form>
        </div>
        </form>
    </div>
</div>
</div>



<script type="text/javascript">
    $(document).on('submit', 'form.login100-form validate-form', do_registration)

    function do_registration(e) {
        e.preventDefault()
        $.get('/your_route', {data: 'goes here'}, function (res) {
            console.log('callback after your node function is done')
        })
    }
</script>


</body>
</html>