<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chargy</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/CSS/login.css" rel="stylesheet">


</head>
<body>


<div class="sidenav">
    <div class="login-main-text">
        <h2>Chargy<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main" id="login" style="display:block;">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <button type="submit" class="btn btn-secondary"> <a href="javascript:SwapDivsWithClick('login','register')">Register</a></button>
            </form>
        </div>
    </div>
</div>
<x></x>






<div class="main" id="register" style="display: none">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="password" class="form-control" placeholder="Jhondoe@company.com">
                </div>
                <div class="form-group">
                    <label>License Plate</label>
                    <input type="password" class="form-control" placeholder="zx - 67 - pk">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <button type="submit" class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>






</div>



</body>




<!-- Bootstrap core JavaScript -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/public/bootstrap//js/bootstrap.bundle.js"></script>

<!-- Plugin JavaScript -->
<script src="/node_modules/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/public/Javascript/index.js"></script>
<script type="text/javascript">
    function SwapDivsWithClick(div1,div2)
    {
        d1 = document.getElementById(login);
        d2 = document.getElementById(register);
        if( d2.style.display == "none" )
        {
            d1.style.display = "none";
            d2.style.display = "block";
        }
        else
        {
            d1.style.display = "block";
            d2.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    function SwapDivsWithClick(div1,div2)
    {
        d1 = document.getElementById(div1);
        d2 = document.getElementById(div2);
        if( d2.style.display == "none" )
        {
            d1.style.display = "none";
            d2.style.display = "block";
        }
        else
        {
            d1.style.display = "block";
            d2.style.display = "none";
        }
    }
</script>





</body>

</html>
