<!DOCTYPE html>
<html lang="en">
<head>
    <title>Time</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->

    <style>
        .check{
            background: #fdfbff;
            width: 390px;
            height: 50px;
            line-height: 50px;
            color: #1be847;
            text-align: center;;
        }
        input[type=checkbox] + div {
            background-color: #fdfbff;
        }
        input[type=checkbox]:checked + div{
            background-color: #1be847;
            font-style: normal;
            color: white;
        }

        .tim{
            position: static;
            text-align: center;
            width: 405px;
        }

    </style>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../public/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" name="loginForm" id="loginForm" method="post">

                <div class="wrap-input100 validate-input m-b-23" data-validate="Gebruikersnaam is verplicht">

                    <h5 class="tim" id="today1"> tot</h5>
                    <h6 class="tim" id="today2"> van</h6>
                    <br>


                    <br>

                    <table>



                        <tr><th><input type="checkbox" value="00:00" onclick="getResv()" id="0" name="0" class="check" hidden> <div class="check"><label for="0">00:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="01:00" onclick="getResv()" id="1" name="1" class="check" hidden> <div class="check"><label for="1">01:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="02:00" onclick="getResv()" id="2" name="2" class="check" hidden> <div class="check"><label for="2">02:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="03:00" onclick="getResv()" id="3" name="3" class="check" hidden> <div class="check"><label for="3">03:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="04:00" onclick="getResv()" id="4" name="4" class="check" hidden> <div class="check"><label for="4">04:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="05:00" onclick="getResv()" id="5" name="5" class="check" hidden> <div class="check"><label for="5">05:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="06:00" onclick="getResv()" id="6" name="6" class="check" hidden> <div class="check"><label for="6">06:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="07:00" onclick="getResv()" id="7" name="7" class="check" hidden> <div class="check"><label for="7">07:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="08:00" onclick="getResv()" id="8" name="8" class="check" hidden> <div class="check"><label for="8">08:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="09:00" onclick="getResv()" id="9" name="9" class="check" hidden> <div class="check"><label for="9">09:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="10:00" onclick="getResv()" id="10" name="10" class="check" hidden> <div class="check"><label for="10">10:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="11:00" onclick="getResv()" id="11" name="11" class="check" hidden> <div class="check"><label for="11">11:00</label></div></th></tr>

                        <tr><th><input type="checkbox" value="12:00" onclick="getResv()" id="12" name="12" class="check" hidden> <div class="check"><label for="12">12:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="13:00" onclick="getResv()" id="13" name="13" class="check" hidden> <div class="check"><label for="13">13:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="14:00" onclick="getResv()" id="14" name="14" class="check" hidden> <div class="check"><label for="14">14:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="15:00" onclick="getResv()" id="15" name="15" class="check" hidden> <div class="check"><label for="15">15:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="16:00" onclick="getResv()" id="16" name="16" class="check" hidden> <div class="check"><label for="16">16:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="17:00" onclick="getResv()" id="17" name="17" class="check" hidden> <div class="check"><label for="17">17:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="18:00" onclick="getResv()" id="18" name="18" class="check" hidden> <div class="check"><label for="18">18:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="19:00" onclick="getResv()" id="19" name="19" class="check" hidden> <div class="check"><label for="19">19:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="20:00" onclick="getResv()" id="20" name="20" class="check" hidden> <div class="check"><label for="20">20:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="21:00" onclick="getResv()" id="21" name="21" class="check" hidden> <div class="check"><label for="21">21:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="22:00" onclick="getResv()" id="22" name="22" class="check" hidden> <div class="check"><label for="22">22:00</label></div></th></tr>
                        <tr><th><input type="checkbox" value="23:00" onclick="getResv()" id="23" name="23" class="check" hidden> <div class="check"><label for="23">23:00</label></div></th></tr>



                        <!--<tr> <input class="input100" type="checkbox" id="a" name="a" hidden></tr>-->
                        <!--<tr><th> <input  type="checkbox" id="" name="" > 01:00</th></tr>-->
                        <!--<tr><th> <input  type="checkbox" id="c" name="c" > 02:00</th></tr>-->
                        <!--<tr><th> <input  type="checkbox" id="d" name="d" > 03:00</th></tr>-->



                        <input type="date" id="a" name="a" class="check" hidden>
                        <input type="time" id="jedi" name="jedi" value="03:00" class="check" hidden>
                        <input type="time" id="java" name="java" value="07:00" class="check" hidden>


                    </table>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit" name="login" id="login">
                            submit
                        </button>

                    </div>
                </div>



          </form>

            <button onclick="getResv()">FUCK</button>
        </div>
    </div>
</div>

<script>
//------------------------DO NOT TOUCH THIS CODE PLEASE----------------------------------------

    var setFrom = 0

    var setTill = 0

    var week = localStorage.getItem("dag")



    function getResv() {
        let selecthigh = [];
        let getId = []

        console.log("-----ID-------")
        let counter = 0
        for (let i = 0; i < 24 ; i++) {

            if(document.getElementById(i).checked == true){
                counter++
                selecthigh[counter -1] = document.getElementById(i).value
               getId[counter] = document.getElementById(i).id
            }

        }

        let minId = getId[getId.length - getId.length + 1]

        let maxId = getId[getId.length - 1]

        for (let i = 0; i < maxId ; i++) {
            if (i > minId){
                document.getElementById(i).checked = true
            }
        }




        console.log("SELECT MIN ID: " + getId[getId.length - getId.length + 1])

        console.log("SELECT MAX ID: " + getId[getId.length - 1])

        console.log("-VALUE---")

        console.log("SELECT MIN VALUE: " + selecthigh[selecthigh.length - selecthigh.length])

        console.log("SELECT MAX VALUE: " + selecthigh[selecthigh.length - 1])

        setFrom = selecthigh[selecthigh.length - selecthigh.length]

        setTill = selecthigh[selecthigh.length - 1]


        document.getElementById("jedi").value = setFrom
        document.getElementById("java").value = setTill

        console.log("NEW FROM: " + document.getElementById("jedi").value)
        console.log("NEW TILL: " + document.getElementById("java").value)

    }

    //-----------DATESETTINGS DO NOT TOUCH-------------
    var dagen = ["Zondag", "maandag", "Dinsdag", "woensdag", "Donderdag", "vrijdag", "zaterdag","zondag","maandag","dinsdag","woensdag","Donderdag","vrijdag","zaterdag","zondag"]

    document.getElementById("today1").innerHTML = localStorage.getItem("date")
    document.getElementById("today2").innerHTML = dagen[week]
    //------------------------------------------------




    document.getElementById("a").value = localStorage.getItem("date")
    console.log(document.getElementById("a").value)
    console.log("CONSTANTE FROM: " + document.getElementById("jedi").value)
    console.log("CONSTANTE TILL: " + document.getElementById("java").value)



</script>

</body>
</html>