<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/time.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div id="bg-col-4-2">

    <section class="pricing m-5 vertical-center" id="pricing-margin" >
        <div class="container" >
            <div class="row" >
                <!-- Free Tier -->
                <div class="col-lg-12" >
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body" id="bg-cosl-4">
                            <h5 class="card-title text-muted text-uppercase text-center">Tijd selecteren</h5>
                            <h6 class="card-price text-center">Hoe laat wilt u parkeren<span class="period"></span></h6>
                            <hr>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bootstrap-timepicker">
                                            <label class="control-label">Start Time</label>
                                            <input id="start" name="start" ng-model="start" type="text" required="required" class="form-control start" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bootstrap-timepicker">
                                            <label class="control-label">End Time</label>
                                            <input id="end" name="end" ng-model="end" type="text" required="required" class="form-control end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/day" class="btn btn-block btn-primary text-uppercase">reserveer</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>






<script type="text/javascript">

    $('.start, .end').timepicker({
        showInputs: false,
        minuteStep: 1,
    });
    $( "#end, #start" ).change(function() {

        var time = $("#start").val();
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/\s(.*)$/)[1];
        if(AMPM == "PM" && hours<12) hours = hours+12;
        if(AMPM == "AM" && hours==12) hours = hours-12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if(hours<10) sHours = "0" + sHours;
        if(minutes<10) sMinutes = "0" + sMinutes;
        var time2 = $("#end").val();
        if(time2=="")
        {
            var time2 = "00:00 AM";
        }
        var hours2 = Number(time2.match(/^(\d+)/)[1]);
        var minutes2 = Number(time2.match(/:(\d+)/)[1]);
        var AMPM2 = time2.match(/\s(.*)$/)[1];
        if(AMPM2 == "PM" && hours2<12) hours2 = hours2+12;
        if(AMPM2 == "AM" && hours2==12) hours2 = hours2-12;
        var sHours2 = hours2.toString();
        var sMinutes2 = minutes2.toString();
        if(hours2<10) sHours2 = "0" + sHours2;
        if(minutes2<10) sMinutes2 = "0" + sMinutes2;
//alert(sHours + ":" + sMinutes);
        var comparehour = sHours2-sHours;
        var comparemin = sMinutes2-sMinutes;
        if(comparehour<0)
        {
            $("#end").val(time);
        }
        else if((comparehour==0) && (comparemin<0))
        {
            $("#end").val(time);
        }
    });


</script>
</body>
</html>