<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../public/Images/icons/favicon.ico"/>

    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../public/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="../../public/CSS/login.css">

    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/CSS/time.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/CSS/button.scss">


    <!--===============================================================================================-->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
<% include ../partials/nav.ejs %>
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1>Goedemorgen, </h1> <h1 id="fra"> herres</h1>
            <h2></h2>
            <br>
            <br>

            <button type="button" class="btn btn-primary" id="button" type="submit" onclick="k()" >Reserveer een plek</button>



        </div>
    </div>
</header>
<div class="wrapper">

    <div id='map'></div>
</div>


<script>
    document.getElementById("fra").innerHTML = localStorage.getItem("user")

    function k(){
        location.href = "/home"
    }


    mapboxgl.accessToken = 'pk.eyJ1IjoidGltb3dpZWxpbmsiLCJhIjoiY2ptZ3BzN3RzMHpqYTN2cGZqYXF1bjNmZSJ9.eAX3yLCUNCOMTnP8yDUjEw';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/timowielink/cjvf0mzh30e1h1fpakkls1z05',
        center: [4.945266, 52.311687],
        zoom: 14.7
    });
</script>

</body>
</html>
